<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/common.css') }}" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/home.css') }}" />
	
	<title>{% block title %} {% endblock %}</title>	
</head>

<body>
	<header>
	<h1 class="header-title-main">Nyttig</h1>
	<a class="header-links" href='/home'><h3 class="header-title-home">Home Page</h3></a>
	<a class="header-links" href='/design'><h3 class="header-title-design">Design</h3></a>
	<a class="header-links" href='/software'><h3 class="header-title-software">Software</h3></a>
	<a class="header-links" href='/discussion'><h3 class="header-title-random">Discussion</h3></a>
	</header>

	<div class="path-cont">
	        <h5 class="path-text">\\ {{ pagepath }}</h5>
	</div>

	{% block content %}
	{% endblock %}

	<form class="create-field" method="POST">
	        <h2 class="create-field-title">Make a Request</h2>
		<input class="createbtn" type="submit" value="Create"  name="createreq" />
		<h5 class="create-field-splash">No account required!</h5>
	</form>


	<footer>
	</footer>

</body>
</html>
