<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/common.css') }}" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<title>{% block title %} {% endblock %}</title>	
</head>

<body>
	<header>
	<h1 class="header-title-main">Unnamed Site</h1>
	<a class="header-links"><h3 class="header-title">Main Page</h3></a>
	<a class="header-links"><h3 class="header-title">Design</h3></a>
	<a class="header-links"><h3 class="header-title">Software</h3></a>
	<a class="header-links"><h3 class="header-title">Random</h3></a>
	<div class="header-profile">
		<a><h3>Username</h3>someinfo</a>
		<img class="header-profilepic" src={{ url_for('static', filename='anonuser.png') }}/>
	</div>
	</header>

	{% block content %}
	{% endblock %}

	<footer>
	</footer>

</body>
</html>
