* {
	padding: 0;
	margin: 0;
}

html {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #DADADA;
}
body {
    background-color: #282a36;
}
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom: 3px solid #FFF;
}
.header-title-main {
    color: #FFF;
}
.header-profilepic {
    width: 50px;
    height: 50px;
    padding-left:4px;
}
.header-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
	cursor: pointer;
	text-decoration: none;
	color: #FFF
}

.testform {
	align-items: center;
}

.inptext {
	font-size: 20px; 
	padding: 2px;
	margin: 5px;
	width: 400px;
}

.longtext {
font-family: 'Lato', sans-serif;

}

.postimg {
	width: 20%;
	height: 20%;
}

.nothing {
	width: 1000px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -140px;
}
