.path-cont {
	position: fixed;
	background-color: #282a36;
	bottom: 0;
	left: 0;
	align-items: center;
	text-align: center;
	border-right: 2px solid #FFF;
	border-top: 2px solid #FFF;
	border-radius: 2px;
}

.path-text {
	text-align: center;
	margin: 5px;
}

.request {
	/* 282a36 */
	margin-top: 20px;
	display: flex;
	padding: 5px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #171925;
}

.request-title {
	padding-bottom: 5px;
}

.request-author {
	color: #C9C9DA;
	padding-bottom: 5px;
}

.request-desc {
	padding-top: 5px;
	font-size: 18px;
}

.create-field {
	position: fixed;
	background-color: #282a36;
	bottom: 0;
	right: 0;
	align-items: center;
	text-align: center;
	border-left: 2px solid #FFF;
	border-top: 2px solid #FFF;
	border-radius: 2px;
}

.create-field-title {
	padding: 5px
}

.createbtn {
	margin: 5px;
	padding: 10px 20px;
	border: none;
	color: #000;
	display: inline-block;
	cursor: pointer;
	background-color: #DADADA;
}

.create-field-splash {
	margin: 5px;
}

.inptext input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.inptext input:checked ~ .checkmark:after {
	display: block;
}

.inptext .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
